@model MovieCollectionMVC.Models.Movie

<div class="form-wrapper">
    <div class="form-card">

        <p class="subtitle">MVC Project</p>
        <h1>Edit Movie</h1>

        <form asp-action="Edit" method="post">

            <input type="hidden" asp-for="Id" />

            <label>Title</label>
            <input asp-for="Title" />

            <label>Director</label>
            <input asp-for="Director" />

            <label>Rating</label>
            <input asp-for="Rating"
                   type="number"
                   step="0.1"
                   min="0"
                   max="10" />

            <button class="btn-main" type="submit">
                Update Movie
            </button>

            <a class="btn-back"
               asp-action="Index">
               Back
            </a>

        </form>

    </div>
</div>