@{
    ViewData["Title"] = "Home";
}

<div class="page-header">
    <div>
        <p class="subtitle">MVC PROJECT</p>
        <h1>Movie Collection System</h1>
        <p class="description">
            ASP.NET Core MVC application for managing movies with SQLite database.
        </p>

        <a asp-controller="Movies" asp-action="Index" class="btn-main">
            View Movies
        </a>
    </div>
</div>