@{
    ViewData["Title"] = "About";
}

<div class="page-header">
    <div>
        <p class="subtitle">PROJECT INFO</p>
        <h1>About This Application</h1>
        <p class="description">
            This project was developed using ASP.NET Core MVC,
            Entity Framework Core and SQLite database.
        </p>
    </div>
</div>